torch>=2.1.0
transformers==4.38.1
numpy>=1.26.1
datasets>=2.13.1
evaluate>=0.4.0
selfies>=2.1.0
scikit-learn>=1.2.1
pyarrow>=14.0.1
requests>=2.31.0
urllib3>=2.0.7
aiohttp>=3.9.0
zipp>=3.17.0
feather-format>=0.4.1
accelerate==0.26.0
rdkit>=2024.3.5